html, body {
    margin: 10;
    padding: 10;
    background: whitesmoke;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

div {
    background: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border-radius: 10px;
    margin-top: 5.25em;
}

.grid div {
    width: 20px;
    height: 20px;
}

.game-title {
    color: #FFFF00;
    font-size: 6.75rem;
    margin: 0.75em auto 0;
}

.instructions {
    color: white;
    font-size: 3rem;
    font-family: 'VT323', monospace;
    margin: 1em auto 0;
}

#score {
    display: none;
}

h1,
h3,
#score {
    font-family: 'Monoton', monospace;
}

h3,
#score {
    color: blue;
    font-size: 2.5rem;
}

.pac-dot {
    background-color: #f8b090;
    border: 7.75px solid black;
    box-sizing: border-box;
}

.wall {
    background-color: black;
    box-sizing: border-box; 
}

.top-wall {
    border-top: 0.5px solid blue;
}

.right-wall {
    border-right: 0.5px solid blue;
}

.bottom-wall {
    border-bottom: 0.5px solid blue;
}

.left-wall {
    border-left: 0.5px solid blue;
}

.pacman,
.power-pellet,
.pac-dot {
    border-radius: 50%;
    box-sizing: border-box;
}

.power-pellet {
    background-color: #F8B090;
    border: 4px solid black;
}

.pacman {
    background-color: #FFFF00;
    border: 2.5px solid black;
}

.blinky,
.pinky,
.inky,
.clyde {
    border: none;
    border-radius: 10px 10px 0px 0px;
    border: 2.5px solid black;
    box-sizing: border-box;
}

.blinky {
    background-color: #FF3100;
}

.pinky {
    background-color: #FFA1CD;
}

.inky {
    background-color: #00FCFF;
}

.clyde {
    background-color: #FFCC00;
}

.scared-ghost {
    background-color: #1919A6;
}

.top-right-corner {
    border-top-right-radius: 10px;
}

.top-left-corner {
    border-top-left-radius: 10px;
}

.bottom-right-corner {
    border-bottom-right-radius: 10px;
}

.bottom-left-corner {
    border-bottom-left-radius: 10px;
}