html, body {
    margin: 10;
    padding: 10;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    background: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid black;
}

.grid div {
    width: 15px;
    height: 15px;
}

h3,
#score {
    font-family: 'Monoton', monospace;
    font-size: 2.5rem;
    color: blue;
}

.pac-dot {
    background-color: #FFFF00;
    border: 5px solid black;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.pacman,
.power-pellet {
    border-radius: 7.5px;
}

.power-pellet {
    background-color: #FFFF00;
}

.pacman {
    background-color: #FFFF00;  
}

.blinky {
    background-color: #FF0000;
    border: none;
}

.pinky {
    background-color: #FFB8FF;
    border: none;
}

.inky {
    background-color: #00FFFF;
    border: none;
}

.clyde {
    background-color: #FFB852;
    border: none;
}

.scared-ghost {
    background-color: #1919A6;
    border: none;
}